@use '/node_modules/sass-mq/mq';
@use "../abstracts/variables";

.auth-block {
    position: absolute;
    max-width: 600px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    overflow: hidden;

    .auth-top-image {
        height: 300px;
        width: 100%;
    }   

    .auth-form {
        padding: 32px;
        width: 400px;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .auth-form-title {
        width: 100%;
        font-size: 42px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 16px;
    }

    .auth-form-input {
        &:not(:last-child) {
            margin-top: 24px;
        }
    }

    .auth-link {
        display: block;
        text-align: right;
        font-size: 14px;
        margin-top: 4px;
        cursor: pointer;
        transition: color 0.3s;
        &:hover {
            color: variables.$default_primary_component;
        }
    }

    .auth-error-msg {
        display: block;
        color: variables.$default_error_component; 
    }

    .auth-submit-btn {
        margin-top: 24px;
    }

    .auth-text-link {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        gap: 4px;

        .auth-text-link-span {
            display: block;
            cursor: pointer;
            color: variables.$default_primary_component;
        }
    }

    @include mq.mq( $until: desktop ) {
        max-width: 320px;

        .auth-form {
            width: 320px;
            max-width: 320px;
            overflow: hidden;
            padding: 16px;
            box-sizing: border-box;
        }

        .auth-form-title {
            font-size: 32px;
        }
    }
}