.navbar {
    height: 50px;
    padding: 0 16px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    .authButtons {
        display: flex;
        gap: 8px;
    }

    .items {
        display: flex;
        gap: 16px;
    }

    .item {
        cursor: pointer;
    }

    &.square {
        border-radius: 0;
    }
}