@use "../abstracts/mixins";
@use "../abstracts/variables";

.button {
    cursor: pointer;
    background-color: red;
    border-radius: 8px;
    border: none;
    color: variables.$white;
    transition: background-color 0.3s;
    padding: 0 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    &.circle {
        border-radius: 16px;
    }

    &.small {
        height: 22px;
    }
    
    &.medium {
        height: 28px;
    }
    
    &.large {
        height: 34px;
        min-width: 34px
    }

    &.square {
        border-radius: 0;
    }

    &.primary {
        color: variables.$default_primary_component;
        @include mixins.variantComponentColors(variables.$default_primary_component);
    }

    &.success {
        color: variables.$default_success_component;
        @include mixins.variantComponentColors(variables.$default_success_component);
    }

    &.error {
        color: variables.$default_error_component;
        @include mixins.variantComponentColors(variables.$default_error_component);
    }

    &.warning {
        color: variables.$default_warning_component;
        @include mixins.variantComponentColors(variables.$default_warning_component);
    }

    &.outline {
        background-color: transparent;
        border-width: 2px;
        border-style: solid;
        &:hover {
            background-color: transparent;
        }
        &:disabled {
            background-color: transparent;
        }
    }

    &.defaultText {
        color: variables.$white !important;
    }

    &.fullWidth {
        width: 100%;
    }
}

