@use "sass:color";
@mixin variantComponentColors($color) {
    background-color: $color;
    border-color: $color;
    &:hover {
        background-color: color.adjust($color: $color, $lightness: -8%);
        border-color: color.adjust($color: $color, $lightness: -8%);
    }
    &:disabled {
        background-color: color.adjust($color: $color, $lightness: 20%);
    }
}