$themes: (
    default: (
        background-primary: rgb(75, 72, 74),
        background-secondary: rgb(39, 39, 4),
    ),
    dark: (
        background-primary: rgb(230, 231, 234),
        background-secondary: rgb(251, 251, 254),
    )
)